version: "3.9"

services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: myapp_development
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    command: bash -c "bundle exec rails server -b 0.0.0.0 -p 3000"
    volumes:
      - .:/rails
      - bundle_data:/usr/local/bundle
    environment:
      RAILS_ENV: development
      SECRET_KEY_BASE: dummy_secret_key_base
      DATABASE_HOST: db
      DATABASE_USERNAME: app_user
      DATABASE_PASSWORD: app_password
      DATABASE_NAME: myapp_development
    ports:
      - "3000:3000"
    depends_on:
      - db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: app_user
      PMA_PASSWORD: app_password
    depends_on:
      - db
    ports:
      - "8080:80"

volumes:
  mysql_data:
  bundle_data:

